#admin {
  position: relative;
  //padding-bottom: 70px;

  #canvass {
    padding-bottom: 80px;
  }

  .admin-table-buttons {
    width: 140px;
  }

  .image-edit {
    position: relative;
    max-width: 350px;

    img {
      width: 100%;
    }

    .btn {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }

  footer {
    margin-top: 25px;
    padding-top: 15px;
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
    border-top: 1px solid #ccd0d2;
  }
}